*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;                      //1rem = 9px , 9/16  56.25%        
      }
    
      @include respond(tab-port){
        font-size: 50%; 
                                        //1rem = 8px , 8/16  50%
        } 
    
        @include respond(phone){
          font-size: 30%;  
        }
      @include respond(big-desktop){
        font-size: 75%;                                //1rem = 12px 12/16  75%  
      }

}

body{
  background-color: $gray-dark;
}


#container{
  padding: 20px;
  display: flex;
  height: 100vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.video{
  height: 40%;
  width: 50%;
}

.toggle{
  width: 50px;
  /* background-color: green; */
  /* height: 30px; */
}

::webkit-scrollbar{
  width: 20px;

  &-thumb{
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#da1b60));
    box-shadow: inset 2px 2px 2px rgba(255,255,255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25)
  }
}