.u-margin-bottom{
    margin-bottom: 2.5rem;

    &-huge{
      margin-bottom: 12rem !important; 
    }

    &-big{
      margin-bottom: 8rem !important; 
    }
    &-small{
      margin-bottom: 1.5rem !important; 
    }
    &-medium{
      margin-bottom: 3rem !important; 
    }
}

.u-margin-top{
    margin-top: 2.5rem !important;

    &-big{
      margin-top: 8rem !important;
    }
    &-huge{
      margin-top: 15rem !important;
    }

    &-small{
      margin-top: 1.5rem !important;
    }
}

.u-margin-left{
  margin-left: 2.5rem;

  &-small{
    margin-left: 2rem;
  }

  &-big{
    margin-left: 8rem;
  }

}

.u-margin-right{
  margin-right: 2.5rem;

  &-small{
    margin-right: 2rem;
  }

  &-big{
    margin-right: 8rem;
  }

}






.u-padding{
  padding: 2rem;
  &-top{
    padding-top: 2rem;
    &-big{
      padding-top: 5rem;
    }
    &-large{
      padding-top: 15rem;

    }
  }

  &-sides{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
