.room{
    margin-top: 80px;
    margin-bottom: 10px;
}
.room .btn{
    width: 100%;
}
.img-size{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
/*End css for Room*/