.fullscreen{
    width: 3rem;
    height: 3rem;
    border-radius: 30rem;
    padding: 1rem;
    position: relative;
    left: 0;
    z-index: 600;
    transition: all .3s;
    transition-timing-function: ease-out;
    margin:  2rem;
    cursor: pointer;
    background-color: $green-light;
    font-size: 2.5rem;
    text-align: center;

    & ion-icon{
       position: absolute;
       top: 50%;
       left: 0%;
       margin-left: 1.25rem;
       transform: translateY(-50%); 
    }

    &--expanded{
        opacity: 0;
        transition: inherit;
        transition-timing-function: inherit;
        font-size: 2rem;
        display: inline-block !important;
        // vertical-align: middle;
    }

    &:hover &--expanded{
        opacity:  1;
    }

    &:hover{
        width: 18rem;
    }

   
    // & img{
    //    width: 2.5rem; 
    //    position: absolute;
    //    top: 50%;
    //    left: 0%;
    //    margin-left: 1.25rem;
    //    transform: translateY(-50%);
    //    transition: all .5s;
    // }
}