// $deep-blue: #242C6B;
$deep-blue: #000957;
$black: #000000;
$white: #ffffff;
$red-ish:  #B5C833;
$light-blue: #1B96D2;
$blue-light: #1B96D2;
$red-primary: red;
$gray: #353535;
$gray-light: #6b6b6b;

$light-green: #00FF2B;
$blue-primary: #01072d;
$blue-light: #00159b;
// $red-ish:  #f94144;


